@font-face {
    font-family: 'Security';
    src: url('./Security.eot?') format('eot'), url('./Security.woff') format('woff'), url('./Security.ttf') format('truetype');
}

p {
    font-family: Security, sans-serif;
}
